/* Стили для контейнера */
.holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    width: 500px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.item:nth-child(1) {
    background-color: #FF6666;
    grid-column: 1 / 2;
}

.item:nth-child(2) {
    background-color: #66CCFF;
    grid-column: 2 / 4;
}

.item:nth-child(3) {
    background-color: #9966FF;
    grid-column: 1 / 2;
}

.item:nth-child(4) {
    background-color: #66FF66;
    grid-column: 2 / 3;
}

.item:nth-child(5) {
    background-color: #FFFF66;
    grid-column: 3 / 4;
}